# Shortening service
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^_shortener/?$ / [L]
    RewriteRule ^([a-z0-9]{4})$ /_shortener/$1 [L]
</IfModule>

# Test
<IfModule mod_rewrite.c>
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
